#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
#
#
# BIN
#
#
#
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Wherever you installed the Apache Flex SDK (e.g. /Applications/Utilities/SDKs/ApacheFlexSDK4)
FLEX_SDK="/Applications/Utilities/SDKs/ApacheFlexSDK4";

# Wherever you installed the iOS SDK (e.g. /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator7.0.sdk)
IOS_SDK="/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator7.0.sdk";

# http://help.adobe.com/en_US/flex/using/WSda78ed3a750d6b8f-4867184d1239f9d0558-8000.html
LOG="~/Library/Preferences/Macromedia/Flash Player/Logs/flashlog.txt";

# Directory where is your localhost (e.g. ~/Sites)
WORKSPACE="$HOME/Sites";

# URL Production (e.g. https://<yourdomain>)
HML="";

# URL Staging (e.g. https://<yourdomain>)
DEV="";

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
#
#
# DESCRIPTOR
#
#
#
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# The name of the project (e.g. MyAwesomeGame)
NAME="Organizr";

# Application ID (e.g. com.yourdomain.appname)
ID="adriancmiranda.github.io.$NAME";

# The description of the project (e.g. My awesome rpg game!)
DESCRIPTION="Placeholder description for $NAME";

# The copyright of the project (e.g. © 2014 YourCompany Systems Inc.)
COPYRIGHT="© $(date +'%Y') $NAME. All rights reserved.";


#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
#
#
# ESSENTIALS
#
#
#
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# This is a class that is instantiated on startup (e.g. Main.as, Main.mxml or MyAwesomeGame.html)
BOOT="source/application/boot.as";

# App descriptor XML (e.g. MyAwesomeGame-app.xml)
DESCRIPTOR="source/descriptor/application.xml";

# Sub-directory for debug SWF builds
OUTPUT_DEBUG="beta";

# Sub-directory for release SWF builds
OUTPUT_RELEASE="release";

# Sub-directory for assets (like sounds and images)
RESOURCES="source/resources";

# A package of ActionScript aid codes
LIBRARY="source/libs";

# A directory of precompiled Flash symbols and ActionScript codes
BINARY="source/swc";

# A directory of Native extensions
ANE="";

# Config constants and RSLs
EXTRA="-define CONFIG::OWN false";

# Flash player version number
PLAYER_VERSION=11.9;

# Air version number (for the app descriptor file)
AIR_VERSION=3.9;

# Flash player background color (e.g #ffffff or 0xffffff)
BGCOLOR=#ffffff;

# Default project width
WIDTH=640;

# Default project height
HEIGHT=480;

# Frames per second
FPS=30;


#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
#
#
# SIGNATURE
#
#
#
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# The AIR signing tools keystores accessible through the Java Cryptography Architecture (JCA).
# (e.g source/certificate.pfx or source/certificate.p12 file extension)
CERTIFICATE="source/certificates/developer.pfx";

# Passwords used to protect PKCS12 certificate files (e.g w34Xc2Y)
PASSWORD="sa34ewf";

# Used by AIR compiler to include appropriate libraries
LOCALE="pt_BR";

